<div class="order-cart" *ngIf="!isConfirmed">
  <div class="info-product">
    <ng-container *ngIf="orderProducts.length; else noItem">

      <div *ngFor="let p of orderProducts" class="product-ordered">
        <a class="product-image">
          <div>
            <img [src]="[p.url]" alt="product image">
          </div>
        </a>

        <div class="product-action">
          <h3>{{p.name ? p.name  : 'product_name'}}</h3>
          <p>{{p.price | currency}}</p>
          <div class="order">
            <input type="number" class="number-of-product-input" min="1" [(ngModel)]="p.orderQuantity"
              (ngModelChange)="updateCart(p)">
          </div>
          <div>
            <button class="remove-product-cart" (click)="removeProductCart(p.id)"> Remove </button>
          </div>
        </div>

      </div>
    </ng-container>

    <ng-template #noItem>
      <p>You have no items in your shopping cart</p>
    </ng-template>
  </div>

  <div class="user-info">
    <form [formGroup]="userOrderForm">

      <div class="form-group">
        <label for="fullname">User Name</label>
        <input id="fullname" formControlName="fullname" type="text" class="form-control" name="fullname"
          placeholder="(Minimum 3 characters)">
        <small
          *ngIf="userOrderForm.get('fullname')?.invalid && (userOrderForm.get('fullname')?.touched && userOrderForm.get('fullname')?.dirty)">
          (Minimum
          3 characters) </small>

      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input id="address" formControlName="address" type="text" class="form-control" name="address"
          placeholder="(Minimum 6 characters)">
        <small
          *ngIf="userOrderForm.get('address')?.invalid && (userOrderForm.get('address')?.touched && userOrderForm.get('address')?.dirty)">
          (Minimum
          6 characters) </small>
      </div>

      <div class="form-group">
        <label for="creditCardNumber">Credit Card Number: </label>
        <input id="creditCardNumber" formControlName="creditCardNumber" type="number" class="form-control"
          name="creditCardNumber" placeholder="(16-digit-number)">
        <small
          *ngIf="userOrderForm.get('creditCardNumber')?.invalid && (userOrderForm.get('creditCardNumber')?.touched || userOrderForm.get('creditCardNumber')?.dirty)">
          (16-digit-number)</small>
      </div>

      <span class="policy">We'll never share yout payment details with anyone else.</span>

      <button class="btn-add-product" (click)="confirmOrder()"
        [disabled]="(!userOrderForm.valid || !orderProducts.length)"> Add
      </button>
    </form>

    <hr>
    <h4> $Total: {{total | currency }}</h4>
  </div>

</div>


<app-successfully-order [total]="total" *ngIf="isConfirmed"> </app-successfully-order>
